{% extends 'inventory/base.html' %}

{% block content %}
<div class="row justify-content-center mt-5">
    <div class="col-md-6">
        <div class="card-custom text-center" style="border-top: 4px solid #ef4444;">
            <div class="mb-4">
                <i class="bi bi-exclamation-triangle-fill text-danger" style="font-size: 3rem;"></i>
            </div>
            
            <h3 class="fw-bold mb-3">¿Desactivar a {{ object.username }}?</h3>
            <p style="color: var(--text-secondary);">
                Estás a punto de revocar el acceso de <strong>{{ object.first_name }} {{ object.last_name }}</strong>. <br>
                El usuario ya no podrá ingresar al sistema, pero su historial de movimientos en el Kardex se mantendrá intacto por seguridad.
            </p>

            <form method="post" class="mt-4 d-flex justify-content-center gap-3">
                {% csrf_token %}
                <a href="{% url 'usuarios_lista' %}" class="btn btn-outline-secondary px-4">Cancelar</a>
                <button type="submit" class="btn btn-danger px-4">Sí, Desactivar</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}